$font-size-root: 13px;
$border-radius-root: 0;

/* input */
$input-font-size: 14px;
$input-prepend-append-outer-margin: 4px;
$input-icon-height: 18px;
$input-icon-min-width: 18px;
$input-icon-width: 18px;
$text-field-border-radius: 0;
$text-field-line-height: 20px;
$text-field-padding: 3px 0;
$text-field-filled-full-width-outlined-slot-min-height: 30px;
$text-field-filled-full-width-outlined-dense-slot-min-height: 30px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px;
$text-field-solo-dense-control-min-height: 50px;
$text-field-enclosed-details-padding: 0 6px;
$text-field-outlined-prepend-append-margin-top: 4px;


.v-input__slot fieldset {
    border-color: #dcdcdc;
}

$btn-border-radius: 2px;
$btn-active-opacity: 1 !important;
$btn-focus-opacity: 1 !important;
$btn-hover-opacity: 1 !important;

.v-dialog-model .v-dialog-body {
    padding: 0 !important;
}

$dialog-card-title-font-size: 50px !important;

$treeview-node-height: 30px;